body {
    background-color: #afb683;
}

.corner-img {
    position: absolute;
    height: 20%;
    width: auto;
}

.corner-img--topLeft {
    top: 0px;
    left: 0px;
}

.corner-img--topRight {
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
}

.corner-img--bottomLeft {
    bottom: 0px;
    left: 0px;
    transform: rotate(270deg);
}

.corner-img--bottomRight {
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}