@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cinzel:wght@600&display=swap');

body {
    background-color: #afb683;
    padding-top: 50px;
    font-family: 'Acme', sans-serif;
}

.corner-img {
    position: fixed;
    width: 10%;
    height: auto;
}

.corner-img--topLeft {
    top: 0px;
    left: 0px;
}

.corner-img--topRight {
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
}

.corner-img--bottomLeft {
    bottom: 0px;
    left: 0px;
    transform: rotate(270deg);
}

.corner-img--bottomRight {
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
}

.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav__item {
    padding: 0px 30px 10px 30px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    opacity: 0.4;
    background-color: #858a61;
    border-radius: 3px;
}

.nav__item:hover {
    cursor: pointer;
}

.nav__item--active {
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    border-top: 1px solid black;
    opacity: 1;
    background-color: #afb683;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__div {
    background-color: #858a61;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 5px double black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header__logo {
    border-radius: 200px;
    border: 5px double black;
    height: 100px;
    width: auto;
    margin-right: 5px;
}

.header__title {
    font-family: 'Cinzel', serif;
}

.pageContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.pageContent__subsection {
    width: 50%;
}

.pageContent__subsection--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageContent__subtitle {
    text-align: center;
    margin: 0px 0px 0px 0px;
}